@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Caveat:400,700|Cabin");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

::-moz-selection {
  background-color: orange;
  color: #fafafa; }

::selection {
  background-color: orange;
  color: #fafafa; }

html,
body {
  font-family: "Cabin", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

a {
  color: #ddd; }

img {
  max-width: 100%; }

h1 {
  font-family: "Cabin", sans-serif; }

h2 {
  margin: 0; }

.content {
  color: #ddd; }

.page__heading {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem; }

.page__subheading {
  font-style: italic; }

.limited-width {
  margin-left: 1rem;
  margin-right: 1rem; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.header-image {
  background-size: cover;
  background-position: 50% 50%;
  max-height: 50vw; }
  .header-image--small {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30vh;
            flex: 0 1 30vh;
    min-height: 200px; }
  .header-image--large {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70vh;
            flex: 0 1 70vh;
    min-height: 300px; }

.photo {
  border: 6px solid white;
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .photo--clickable {
    cursor: pointer; }
    .photo--clickable::after {
      content: '+';
      display: inline-block;
      position: absolute;
      top: 10px;
      right: 10px;
      line-height: 0;
      font-size: 1.5rem;
      color: white; }
  .photo--clicked {
    z-index: 999;
    max-width: 100vw !important;
    max-height: 100vh !important;
    margin: 0 !important;
    -webkit-transform: rotate(0) !important;
            transform: rotate(0) !important; }
  .photo--clickable.photo--clicked::after {
    font-size: 2.5rem;
    top: 15px;
    content: '\00d7'; }
  .photo-container--clicked {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0; }
  .photo img {
    max-height: 80vh; }
  .photo--left {
    float: left;
    margin-right: 1.25rem; }
  .photo--right {
    float: right;
    margin-left: 1.25rem; }
  .photo--rotate-left {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg); }
  .photo--rotate-right {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg); }
  .photo--full-width {
    clear: both; }
  .photo--full-width.photo--rotate-left {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg); }
  .photo--full-width.photo--rotate-right {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg); }
  .photo--small.photo--landscape {
    max-width: 50%;
    border-width: 5px; }
  .photo--medium.photo--landscape {
    max-width: 75%; }
  .photo--large.photo--landscape {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .photo--small.photo--portrait {
    max-width: 35.36068%;
    border-width: 5px; }
  .photo--medium.photo--portrait {
    max-width: 37.5%; }
  .photo--large.photo--portrait {
    max-width: 50%; }
  .photo--small.photo--square {
    max-width: 40%;
    border-width: 5px; }
  .photo--medium.photo--square {
    max-width: 50%; }
  .photo--large.photo--square {
    max-width: 66.66667%; }
  .photo__caption {
    color: #444;
    font-family: Caveat, script;
    line-height: 1;
    font-size: 1.1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem; }
  .photo--full-width img {
    max-height: none; }
  .photo--full-width.photo--clicked img {
    max-height: 80vh; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -0.5rem; }
  .gallery__item {
    margin: 0.5rem;
    -webkit-box-shadow: 0 0 1rem black;
            box-shadow: 0 0 1rem black; }

.content__section--clearfix::after,
.content__section:last-child::after {
  content: '';
  display: table;
  clear: both; }

.section-rule {
  border: 0;
  border-bottom: 1px solid #fafafa; }

.top-bar {
  background-color: transparent;
  background-size: 200px;
  background-repeat: repeat;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
  .top-bar::after {
    content: '';
    top: 0;
    bottom: -2rem;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
            box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
    pointer-events: none; }
  .top-bar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .top-bar__icon {
    background-color: #fafafa;
    background-size: 200px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    height: 80px;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: none; }
  .top-bar__icon-image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%; }
  .top-bar__site-identity {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .top-bar__title {
    line-height: 1;
    font-family: "Bilbo Swash Caps", serif;
    font-weight: bold;
    color: #eee;
    font-size: 3.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2; }
  .top-bar__subtitle {
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
    font-family: "Cabin", sans-serif;
    font-size: 0.9rem;
    color: white;
    opacity: 0.75;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    padding-right: 1rem;
    padding-top: 0.15rem;
    padding-left: 0.75rem;
    margin-left: -0.75rem; }
  .top-bar__menu-container {
    background: rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), color-stop(30%, rgba(0, 0, 0, 0.1)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.1) 30%); }
  .top-bar__menu {
    max-width: 882px;
    margin: 0 auto; }
  .top-bar__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.35rem 0 0.25rem;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .top-bar__menu-item {
    list-style-type: none;
    margin: 0.25rem; }
    .top-bar__menu-item:first-child {
      border: 0; }
  .top-bar__menu-link {
    color: #eee;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0 -1px 2px black;
    font-family: Cabin, sans-serif;
    font-size: 1rem;
    border-radius: 0.5rem;
    -webkit-transition: background 0.2s;
    transition: background 0.2s; }
    .top-bar__menu-link:hover {
      background: rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
              box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); }
    .top-bar__menu-link--active {
      background: rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
              box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
      color: #fff; }
      .top-bar__menu-link--active:hover {
        background: rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
                box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
        color: #fff; }

.main {
  margin-top: -2rem;
  padding-top: 2rem; }

.excerpt__container {
  font-size: 1.2rem;
  margin: 0 auto;
  border-bottom: 0.5px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: #ddd; }

body {
  background-image: url("../images/dark_wood.jpg");
  background-color: #330b0b;
  background-size: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  body > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
  color: #444;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-top: 1rem;
    color: rgba(221, 221, 221, 0.8);
    border-top: 1rem solid transparent;
    -o-border-image: url("../images/wood.jpg") 16 repeat;
       border-image: url("../images/wood.jpg") 16 repeat;
    font-size: 0.9rem;
    background-color: white;
    opacity: 0.95; }
  .footer__logos {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
    height: 100px; }
    .footer__logos--home {
      height: 125px; }
  .footer__logo {
    margin-right: 0.5rem;
    height: 100%; }
    .footer__logo:last-child {
      margin-right: 0; }
  .footer__logo-image {
    max-height: 100%; }
  .footer__text {
    text-align: center; }
    .footer__text > :last-child {
      margin-bottom: 0; }
    .footer__text ul {
      list-style-type: none;
      padding: 0; }
    .footer__text a {
      color: #444; }

@media screen and (min-width: 882px) {
  .limited-width {
    width: 850px;
    margin: 0 auto; }
  .top-bar__menu-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-right: 104px; } }

@media screen and (min-width: 35.5em) {
  .top-bar__menu-item {
    margin: 0 0.25rem; }
  .top-bar__menu-link {
    padding: 0.25rem 0.75rem; }
  .top-bar__icon {
    display: block; }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer__logos {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 0; }
    .footer__text {
      text-align: right; }
  .photo--small.photo--landscape {
    max-width: 33%;
    border-width: 5px; }
  .photo--medium.photo--landscape {
    max-width: 50%; }
  .photo--large.photo--landscape {
    max-width: 66%; }
  .photo--large.photo--landscape.photo--right {
    margin-left: 1.25rem; }
  .photo--large.photo--landscape.photo--left {
    margin-right: 1.25rem; }
  .photo--small.photo--portrait {
    max-width: 23.33805%;
    border-width: 5px; }
  .photo--medium.photo--portrait {
    max-width: 35.36068%; }
  .photo--large.photo--portrait {
    max-width: 46.6761%; }
  .photo--small.photo--square {
    max-width: 26.4%;
    border-width: 5px; }
  .photo--medium.photo--square {
    max-width: 40%; }
  .photo--large.photo--square {
    max-width: 52.8%; }
  .photo--full-width .photo__caption {
    font-size: 1.3rem; } }

@media screen and (min-width: 48em) {
  .photo--small.photo--landscape {
    max-width: 25%;
    border-width: 5px; }
  .photo--medium.photo--landscape {
    max-width: 37.5%; }
  .photo--large.photo--landscape {
    max-width: 50%; }
  .photo--small.photo--portrait {
    max-width: 17.68034%;
    border-width: 5px; }
  .photo--medium.photo--portrait {
    max-width: 26.52051%; }
  .photo--large.photo--portrait {
    max-width: 35.36068%; }
  .photo--small.photo--square {
    max-width: 20%;
    border-width: 5px; }
  .photo--medium.photo--square {
    max-width: 30%; }
  .photo--large.photo--square {
    max-width: 40%; } }
