@import url('https://fonts.googleapis.com/css?family=Cabin|Libre+Baskerville');

// color variables
$white: #eee;
$mahogany: #880d00;
$sepia-black: #180101;
$lightishgrey: #ddd;
$darkgrey: #222;

// general variables
$container-width: 850px;

// typography variables
$display-font-stack: 'Libre Baskerville', serif;
$body-font-stack: Cabin, sans-serif;
$body-text-color: $darkgrey;
$footer-text-size: 0.9rem;

// top bar variables
$top-bar-title-color: $white;
$top-bar-color: $mahogany;
$title-font-stack: $display-font-stack;

// menu bar variables
$menu-bar-text-color: darken($white, 15);
$menu-bar-color: darken($mahogany, 5);

// general rules
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    // background-color: $sepia-black;
    font-family: $body-font-stack;
    color: $body-text-color;
}

body {
    position: relative;
}

.header {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.excerpt {
    &__container {
        font-size: 1.2rem;
        max-width: $container-width;
        margin: 0 auto;
        border-bottom: 0.5px solid $body-text-color;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

.footer {
    max-width: $container-width;
    margin: 0 auto;
    border-top: 0.5px solid $body-text-color;
    padding: 1rem 0;
    opacity: 0.8;
    font-size: $footer-text-size;
}

// component: top bar
.title-bar {
    background-color: $top-bar-color;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 100;

    &__container {
        max-width: $container-width;
        margin: 0 auto;
    }

    &__title {
        margin: 0;
        color: $top-bar-title-color;
        font-family: $title-font-stack;
        padding-top: 1rem;
        padding-bottom: 1rem;
        // text-align: center;
    }
}

// component: header menu
.header-menu {
    background-color: $menu-bar-color;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);

    &__list {
        max-width: $container-width;
        margin: 0 auto;
        padding: 0;
        display: flex;
        padding-left: -0.5rem;
        // justify-content: space-between;
    }

    &__item {
        list-style-type: none;

        &:first-child {
            // margin-left: -1rem;
        }
    }

    &__link {
        color: $menu-bar-text-color;
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem 1rem;

        &--active {
            background-color: $sepia-black;
            color: $white;
        }
    }
}

.header-image {
    background-size: cover;
    background-position: 50%;
    // flex: 1 1 250px;
    height: 85vh;
}

.content {
    background: $white;
    padding-top: 1rem;

    &__container {
        max-width: $container-width;
        margin: 0 auto;
    }
}
