@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:400,700|Lora:400,400i,700|Pragati+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps');

// VARIABLES
// color variables
$brown: #795548;
$white: #fafafa;

// layout variables
$container-width: 850px;

// typography variables
$display-font-stack: Lora, serif;
$body-font-stack: 'Roboto', sans-serif;

// header variables
$header-title-color: $white;
$header-title-size: 2rem;
$header-padding: 1rem 0 0 0;
$header-color: rgba(0,0,0,0);

// RULES
// general rules
* {
    box-sizing: border-box;
}

html, body {
    font-family: $body-font-stack;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $body-font-stack;
}

.content {
    color: #ddd;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

.header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: auto;

    &__title {
        font-family: 'Bilbo Swash Caps', cursive;
        font-weight: bold;
        color: $header-title-color;
        font-size: 4rem;
        line-height: 1.1;
        max-width: $container-width;
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: 1rem;
        text-shadow: 0 0 50px black;
    }

    &__container {
        max-width: $container-width;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    &__text {
        position: fixed;
        top: 20%;
        transform: translate(0, -50%);
        width: 100%;
        left: 0;
    }

    &__menu {
        background-color: orange;
        padding: 0.5rem 0;
        box-shadow: inset 0 0 25px rgba(0,0,0,0.5);
    }

    &__menu-list {
        display: flex;
        flex-wrap: wrap;
        max-width: $container-width;
        margin: 0 auto;
        padding: 0;
    }

    &__menu-item {
        list-style-type: none;

        &:first-child {
            border: none;
        }
    }

    &__menu-link {
        color: $header-title-color;
        padding: 0 0.75rem;
        text-decoration: none;
        font-family: $display-font-stack;
        font-family: 'Roboto Condensed', serif;
    }
}

.top-bar {
    background-color: $header-color;
    background-size: 200px;
    background-repeat: repeat-x;
    padding: $header-padding;
    // position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 50px black;

    // max-width: $container-width;
    // margin: 0 auto;

    &__container {
        max-width: $container-width;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    &__title {
        font-family: 'Berkshire Swash';
        font-weight: bold;
        color: $header-title-color;
        font-size: $header-title-size;
    }

    &__menu-container {
        background: rgba(0,0,0,0.3);
        background: linear-gradient(rgba(0, 0, 0, 0.35) 0%, rgba(0,0,0,0.2) 30%);
    }

    &__menu {
        max-width: $container-width;
        margin: 0 auto;
    }

    &__menu-list {
        display: flex;
        padding: 0.35rem 0 0.25rem;
        margin: 0;
        // margin-left: -.75rem;
    }

    &__menu-item {
        list-style-type: none;
        // border-left: 0.4px solid white;

        &:first-child {
            border: none;
        }
    }

    &__menu-link {
        color: $header-title-color;
        padding: 0 0.75rem;
        text-decoration: none;
        // font-size: 0.9rem;
        text-shadow: 0 -1px 2px black;
        font-family: $display-font-stack;
        font-family: 'Pragati Narrow', serif;
        font-size: 1.25rem;
        // font-size: 0.9rem;

        &--active {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 0.5rem;
            box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
        }
    }
}

body {
    background-image: url('../images/dark_wood_@2X.png');
    background-size: 400px;
}

.footer {
    max-width: $container-width;
    margin: 0 auto;
}
