{% if page.header.sectionImage %}
    <div class="photo-container">
        <div class="photo {{ page.header.imageClickable ? 'photo--clickable' : '' }} photo--full-width photo--rotate-{{ page.header.imageRotation }}">
            <img src="{{ page.media[page.header.sectionImage].fixOrientation.url }}" />
            <span class="photo__caption">{{ page.header.imageCaption }}</span>
        </div>
    </div>
{% endif %}
