{% set modified_date = pages.children.visibles|first.modified %}
{% for page in pages.children.visible %}
    {% if modified_date < page.modified %}
        {% set modified_date = page.modified %}
    {% endif %}
{% endfor %}
<footer class="footer__wrapper">
    <div class="footer limited-width">
        <div class="footer__logos">
            <div class="footer__logo">
                <img src=" {{ url('theme://images/ffilogo.jpg') }} " />
            </div>
        </div>
    {% if site.footer.copyright %}
        <span class="footer__copyright">&copy; {{ site.author.name }} | {{ modified_date|date('F Y') }}</span>
    {% endif %}
    </div>
</footer>
