<div class="header-overlay__wrapper header-overlay__wrapper--{{page.header.adVerticalAlign}} limited-width">
    <div class="header-overlay__box">
        {% if page.header.adHeadline %}
            <h2 class="header-overlay__title">{{page.header.adHeadline}}</h2>
        {% endif %}
        {% if page.header.adSubheading %}
            <h3 class="header-overlay__subtitle">{{page.header.adSubheading}}</h3>
        {% endif %}
        {% if page.header.adText %}
            <p class="header-overlay__text">{{page.header.adText|markdown}}</p>
        {% endif %}
    </div>
</div>