<div class="header-overlay__wrapper limited-width">
    <div class="header-overlay__box">
        <h2 class="header-overlay__title">Casting at CATS</h2>
        <h3 class="header-overlay__subtitle">Get new hats!!!</h3>
        <p class="header-overlay__text">(this box is used to advertise upcoming events to get hits on the site)</p>
    </div>
</div>