.course-list {
    &__item {
        box-shadow: 0 0 10px rgba(0,0,0,0.7);
        margin-bottom: 1rem;
        background-color: $lightergrey;
        color: $darkgrey;
        cursor: pointer;
        padding: 1rem;
        padding-bottom: 0.5rem;

        &::after {
            clear: both;
            display: table;
            content: '';
        }

        &:last-child {
            border-bottom: none;
        }

        a {
            color: $blue;
        }
    }
    
    &__heading a {
        color: $darkergrey;
        text-decoration: none;
    }

    &__readmore {
        display: block;
        text-align: right;
        margin: 0.5rem 0;
    }

    &__image {
        min-height: 90px;
        min-width: 90px;
        background-size: cover;
        background-position: 50%;
        float: left;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
}

@include breakpoint(xs) {
    .course-list {
        &__image {
            flex: 0 0 125px;
            min-height: 125px;
            margin: 0;
        }

        &__content {
            align-self: center;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            flex-basis: 100%;
        }

        &__item {
            display: flex;
            align-items: stretch;
            padding: 0;
        }

        &__readmore {
            text-align: left;
        }
    }
}