$modal-padding: 2rem;
$image-border-width: 6px;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    padding: $modal-padding;

    &__close {  
        z-index: 1000;
        overflow: visible;
        height: 0;
        color: white;
        font-size: 2.5rem;
        line-height: 125%;
        align-self: flex-end;
        cursor: pointer;
        text-shadow: 0 0 5px rgba(0,0,0,0.7);
        user-select: none;
    }

    &__inner--image {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // position: relative;
    }

    &__arrows {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        left: 0;
        pointer-events: none;
    }
    
    &__arrow {
        pointer-events: all;
        color: white;
        font-size: 2.5rem;
        text-shadow: 0 0 10px rgba(0,0,0,1);
        padding: 2rem;
        cursor: pointer;
        user-select: none;

        &--prev {
            
        }

        &--next {
            
        }
    }

    &__image {
        max-height: calc(90vh - 2rem);
        border: $image-border-width solid white;
        user-select: none;
    }
    
    &__footer {
        background-color: white;
        color: #222;
        flex: 0 0 auto;
        border: $image-border-width solid white;
        border-top: none;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
    }
}