.photo {
    border: 6px solid white;
    box-shadow: 0 0 50px black;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-flex;
    flex-direction: column;
    position: relative;

    &--clickable {
        cursor: pointer;

        &::after {
            content: '+';
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 10px;
            line-height: 0;
            font-size: 1.5rem;
            color: white;
        }
    }

    img {
        max-height: 80vh;
        flex: none;
    }

    // alignment rules
    &--left {
        float: left;
        margin-right: 1.25rem;
    }

    &--right {
        float: right;
        margin-left: 1.25rem;
    }

    &--rotate {
        &-left {
            transform: rotate(-2deg);
        }

        &-right {
            transform: rotate(2deg);
        }
    }

    &--full-width {
        clear: both;
        max-width: 100%;
    }

    &--full-width#{&}--rotate-left {
        transform: rotate(-1deg);
    }

    &--full-width#{&}--rotate-right {
        transform: rotate(1deg);
    }

    $small: 50%;
    $medium: 75%;
    $large: 100%;
    $divider-portrait: 2;
    $divider-square: 1.5;

    &--small#{&}--landscape {
        max-width: $small;
        border-width: 5px;
    }

    &--medium#{&}--landscape {
        max-width: $medium;
    }

    &--large#{&}--landscape {
        max-width: $large;
        margin-left: 0;
        margin-right: 0;
    }

    &--small#{&}--portrait {
        max-width: $small / 1.414;
        border-width: 5px;
    }

    &--medium#{&}--portrait {
        max-width: $medium / $divider-portrait;
    }

    &--large#{&}--portrait {
        max-width: $large / $divider-portrait;
    }

    &--small#{&}--square {
        max-width: $small / 1.25;
        border-width: 5px;
    }

    &--medium#{&}--square {
        max-width: $medium / $divider-square;
    }

    &--large#{&}--square {
        max-width: $large / $divider-square;
    }

    &__caption {
        color: $darkgrey;
        font-family: $caption-font-stack;
        line-height: 1;
        font-size: 1.1rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    &--full-width {
        img {
            max-height: none;
        }
    }

    &--full-width#{&}--clicked {
        img {
            max-height: 80vh;
        }
    }
}

@include breakpoint(sm) {
    .photo {
        $small: 33%;
        $medium: 50%;
        $large: 66%;
        $divider-portrait: 1.414;
        $divider-square: 1.25;

        &--small#{&}--landscape {
            max-width: $small;
            border-width: 5px;
        }

        &--medium#{&}--landscape {
            max-width: $medium;
        }

        &--large#{&}--landscape {
            max-width: $large;
        }

        &--large#{&}--landscape#{&}--right {
            margin-left: 1.25rem;
        }

        &--large#{&}--landscape#{&}--left {
            margin-right: 1.25rem;
        }

        &--small#{&}--portrait {
            max-width: $small / $divider-portrait;
            border-width: 5px;
        }

        &--medium#{&}--portrait {
            max-width: $medium / $divider-portrait;
        }

        &--large#{&}--portrait {
            max-width: $large / $divider-portrait;
        }

        &--small#{&}--square {
            max-width: $small / $divider-square;
            border-width: 5px;
        }

        &--medium#{&}--square {
            max-width: $medium / $divider-square;
        }

        &--large#{&}--square {
            max-width: $large / $divider-square;
        }

        &--full-width &__caption {
            font-size: 1.3rem;
        }
    }
}

@include breakpoint(md){
    .photo {
        $small: 25%;
        $medium: 37.5%;
        $large: 50%;
        $divider-portrait: 1.414;
        $divider-square: 1.25;

        &--small#{&}--landscape {
            max-width: $small;
            border-width: 5px;
        }

        &--medium#{&}--landscape {
            max-width: $medium;
        }

        &--large#{&}--landscape {
            max-width: $large;
        }

        &--small#{&}--portrait {
            max-width: $small / $divider-portrait;
            border-width: 5px;
        }

        &--medium#{&}--portrait {
            max-width: $medium / $divider-portrait;
        }

        &--large#{&}--portrait {
            max-width: $large / $divider-portrait;
        }

        &--small#{&}--square {
            max-width: $small / $divider-square;
            border-width: 5px;
        }

        &--medium#{&}--square {
            max-width: $medium / $divider-square;
        }

        &--large#{&}--square {
            max-width: $large / $divider-square;
        }
    }
}