{% extends 'partials/base.html.twig' %}

{% block header_image %}
<div class="header-image" style="background-image:url('{{ [theme_url,'/images/headers/',site.site_header]|join }}')">
</div>
{% endblock %}
{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}
{% block content %}
	<h1 id="test">{{ page.title }}</h1>
	{{ page.content }}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}
