.course-list {
    &__item {
        box-shadow: 0 0 10px rgba(0,0,0,0.7);
        margin-bottom: 1rem;
        background-color: $lightgrey;
        color: $darkgrey;
        display: flex;
        align-items: stretch;
        cursor: pointer;

        &:last-child {
            border-bottom: none;
        }

        a {
            color: $blue;
        }
    }
    
    &__heading a {
        color: $darkergrey;
        text-decoration: none;
    }

    &__text {
        padding: 1rem;
        align-self: center;
    }

    &__image {
        flex: 0 0 150px;
        min-height: 150px;
        background-size: cover;
        background-position: 50%;
    }
}