$modal-padding: 2rem;
$image-border-width: 6px;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    padding: $modal-padding;

    &__inner--image {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__image {
        max-height: calc(90vh - 2rem);
        border: $image-border-width solid white;
    }
    
    &__caption {
        background-color: white;
        color: #222;
        flex: 0 0 auto;
        border: $image-border-width solid white;
        border-top: none;
        font-size: 1.2rem;
    }
}